<div class="container">

	<div class="starship-detail" *ngIf="starship$ | async as starship; let starshipIndex = index">
		<div class="model">{{starship.name}}</div>
		<div class="details-box">

			<!--Model-->
			<div class="spec">
				<div class="label">Model:</div>
				<div class="data">{{starship.model}}</div>
			</div>

			<!--Class-->
			<div class="spec">
				<div class="label">Class:</div>
				<div class="data">{{starship.starship_class}}</div>
			</div>

			<!--Manufacturer-->
			<div class="spec">
				<div class="label">Manufacturer:</div>
				<div class="data">{{starship.manufacturer}}</div>
			</div>

			<!--Hyperdrive rating-->
			<div class="spec">
				<div class="label">HR:</div>
				<div class="data">{{starship.hyperdrive_rating}}</div>
			</div>

			<!--Speed-->
			<div class="spec">
				<div class="label">Speed:</div>
				<div class="data">
					<span>{{starship.MGLT}}</span>
					<span class="index-sup">MGLT</span>
					<span class="separator-or">/</span>
					<span>{{starship.max_atmosphering_speed}}</span>
					<span class="index-sup">ATM</span>
				</div>
			</div>

			<!--Cargo/Lenght-->
			<div class="spec">
				<div class="label">Cargo/Length:</div>
				<div class="data">
					<span>{{starship.cargo_capacity / 1000000}}</span>
					<span class="index-sup">Kt</span>
					<span class="separator-or">/</span>
					<span>{{starship.length}}</span>
					<span class="index-sup">m</span>
				</div>
			</div>

			<!--Crew/Passenger-->
			<div class="spec">
				<div class="label">Crew/Passenger:</div>
				<div class="data">
					<span>{{starship.crew}}</span>
					<span class="separator-or">/</span>
					<span>{{starship.passengers}}</span>
				</div>
			</div>

			<!--Consumables-->
			<div class="spec">
				<div class="label">Consumables:</div>
				<div class="data">{{starship.consumables}}</div>
			</div>

			<!--Amount-->
			<div class="spec">
				<div class="label">Amount:</div>
				<div class="data">
					<span>{{starship.cost_in_credits}}</span>
					<span class="index-sup">GC</span>
				</div>
			</div>

			<!--------------------------------------------->
			<div class="separator"></div>
			<!--------------------------------------------->

			<!--Created-->
			<div class="spec">
				<div class="label">Created:</div>
				<div class="data">{{starship.created | date}}</div>
			</div>

			<!--Edited-->
			<div class="spec">
				<div class="label">Edited:</div>
				<div class="data">{{starship.edited | date}}</div>
			</div>

			<!--Pilots-->
			<div class="spec list">
				<div class="label">Pilots:</div>
				<div class="data">
					<a *ngFor="let url of starship.pilots" [routerLink]="['/person', utils.getIdFromUrl(url)]">{{getPilotName(url) | async}}</a>
				</div>
			</div>


		</div>
	</div>
</div>












