<div class="container">

	<div class="starship-list" *ngIf="(starships$ | async) as starships">
		<div *ngFor="let starship of starships; let i = index" class="item" [routerLink]="['/starship', starship.id]">
			<div class="starship-name">{{starship.name}}</div>
			<div class="starship-spec">

				<!--Hyperdrive rating-->
				<div class="spec">
					<div class="label">HR:</div>
					<div class="data">{{starship.hyperdrive_rating}}</div>
				</div>
				<div class="separator">|</div>

				<!--Speed-->
				<div class="spec">
					<div class="label">Speed:</div>
					<div class="data">
						<span>{{starship.MGLT}}</span>
						<span class="index-sup">MGLT</span>
						<span class="separator-or">/</span>
						<span>{{starship.max_atmosphering_speed}}</span>
						<span class="index-sup">ATM</span>
					</div>
				</div>
				<div class="separator">|</div>

				<!--Cargo/Lenght-->
				<div class="spec">
					<div class="label">Cargo/Length:</div>
					<div class="data">
						<span>{{starship.cargo_capacity / 1000000}}</span>
						<span class="index-sup">Kt</span>
						<span class="separator-or">/</span>
						<span>{{starship.length}}</span>
						<span class="index-sup">m</span>
					</div>
				</div>
				<div class="separator">|</div>

				<!--Crew/Passenger-->
				<div class="spec">
					<div class="label">Crew/Passenger:</div>
					<div class="data">
						<span>{{starship.crew}}</span>
						<span class="separator-or">/</span>
						<span>{{starship.passengers}}</span>
					</div>
				</div>
				<div class="separator">|</div>

				<!--Amount-->
				<div class="spec">
					<div class="label">Amount:</div>
					<div class="data">
						<span>{{starship.cost_in_credits}}</span>
						<span class="index-sup">GC</span>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

