<div class="container">

	<div class="starship-detail" *ngIf="person$ | async as people">
		<div class="model">{{people.name}}</div>
		<div class="details-box">

			<!--Birth year-->
			<div class="spec">
				<div class="label">Birth year:</div>
				<div class="data">{{people.birth_year}}</div>
			</div>

			<!--Eye color-->
			<div class="spec">
				<div class="label">Eye color:</div>
				<div class="data">{{people.eye_color}}</div>
			</div>

			<!--Gender-->
			<div class="spec">
				<div class="label">Gender:</div>
				<div class="data">{{people.gender}}</div>
			</div>

			<!--Hair color-->
			<div class="spec">
				<div class="label">Hair color:</div>
				<div class="data">{{people.hair_color}}</div>
			</div>

			<!--Height-->
			<div class="spec">
				<div class="label">Height:</div>
				<div class="data">{{people.height}}</div>
			</div>

			<!--Mass-->
			<div class="spec">
				<div class="label">Mass:</div>
				<div class="data">{{people.mass}}</div>
			</div>

			<!--Skin color-->
			<div class="spec">
				<div class="label">Skin color:</div>
				<div class="data">{{people.skin_color}}</div>
			</div>

			<!--Created-->
			<div class="spec">
				<div class="label">Created:</div>
				<div class="data">{{people.created | date}}</div>
			</div>

			<!--Edited-->
			<div class="spec">
				<div class="label">Edited:</div>
				<div class="data">{{people.edited | date}}</div>
			</div>

			<!--Starships-->
			<div class="spec list">
				<div class="label">Starships:</div>
				<div class="data">
					<a *ngFor="let url of people.starships" [routerLink]="['/starship', utils.getIdFromUrl(url)]">{{getStarshipName(url) | async}}</a>
				</div>
			</div>

		</div>
	</div>
</div>
