@import '../../../assets/theme/variable';

:host{
	overflow: hidden;
}

.container{
	height: 100%;
	overflow: auto;
	display: grid;

	.starship-detail{
		display: grid;
		grid-auto-flow: row;
		grid-template-columns: auto;
		grid-auto-rows: min-content;
		grid-row-gap: 12px;

		.model{
			font-size: 28px;
		}
		.details-box{
			display: grid;
			grid-auto-flow: row;
			grid-template-columns: auto;
			grid-auto-rows: min-content;
			grid-row-gap: 4px;
			.spec {
				display: grid;
				grid-template-columns: repeat(2, max-content);
				grid-template-rows: min-content;
				grid-column-gap: 8px;
				.label{
					color: $color-gray;
				}
				.data{
					display: flex;
					align-items: center;
					color: $color-gray-light;
					.index-sup{
						height: 16px;
						display: inline-grid;
						align-items: start;
						justify-items: center;
						font-size: 10px;
						padding-left: 2px;
						color: $color-gray;
					}
					.separator-or{
						padding: 0 4px;
						color: $color-gray-dark;
					}
				}
			}
			.spec.list{
				align-items: start;
				.data {
					display: grid;
					grid-auto-flow: row;
					grid-auto-rows: min-content;
					grid-template-columns: auto;
					color: $color-gray;
				}
			}
			.separator{
				width: 200px;
				height: 1px;
				border: 1px dotted #ff6f00;
				margin: 20px 0;
			}
		}
	}
}
