$color-gray-light: #d7d7d7;
$color-gray: #a4a4a4;
$color-gray-dark: #808080;

$color-linc: #6d7d9f;
$color-linc-hover: #9c9dab;
$color-linc-active: #d4d5d9;
$color-linc-activebutton: #ff4f1a;

@mixin sup {
	height: 16px;
	display: inline-grid;
	align-items: start;
	justify-items: center;
	font-size: 10px;
	padding-left: 2px;
	color: $color-gray;
}
