<div class="container">

	<header>
		<div class="title">StarWars</div>
		<div class="links">
			<a routerLink="/starships" routerLinkActive="activebutton">Starships</a>
			<span class="sup">{{(starships$ | async).length}}</span>
			<span class="separator">|</span>
			<a routerLink="/people" routerLinkActive="activebutton">People</a>
			<span class="sup">{{(people$ | async).length}}</span>
		</div>
	</header>

	<div class="content">
		<router-outlet></router-outlet>
	</div>

	<footer></footer>
</div>
