.container {
	height: 100%;
	max-width: 1200px;
	overflow: hidden;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: min-content auto min-content;
	margin: 0 auto;

	header {
		padding-bottom: 50px;
		.title{
			font-size: 72px;
			padding: 8px 0;
		}
		.links{
			display: flex;
			align-items: center;
			.separator{
				padding: 0 12px;
			}
		}
	}
	.content {
		height: 100%;
		overflow: hidden;
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: min-content;
	}
	footer {
		height: 114px;
	}
}
