@import '../../../assets/theme/variable';

:host{
	overflow: hidden;
}

.container{
	height: 100%;
	overflow: auto;
	display: grid;

	.starship-list{
		display: grid;
		grid-auto-flow: row;
		grid-template-columns: auto;
		grid-auto-rows: min-content;
		grid-row-gap: 12px;
		.item{
			display: grid;
			grid-template-columns: auto;
			grid-template-rows: repeat(2, min-content);
			&:hover{
				background-color: #484848;
				cursor: pointer;
			}

			.starship-name{
				font-size: 28px;
			}
			.starship-spec{
				display: grid;
				grid-auto-flow: column;
				grid-auto-columns: max-content;
				grid-template-rows: min-content;
				grid-column-gap: 12px;
				.spec {
					display: grid;
					grid-template-columns: repeat(2, max-content);
					grid-template-rows: min-content;
					grid-column-gap: 8px;
					.label{
						color: $color-gray;
					}
					.data{
						display: flex;
						align-items: center;
						color: $color-gray-light;
						.index-sup{
							@include sup;
						}
						.separator-or{
							padding: 0 4px;
							color: $color-gray-dark;
						}
					}
				}
				.separator{
					color: #ff6f00;
				}
			}
		}
	}
}
