<div class="container">

	<div class="starship-list" *ngIf="(people$ | async) as people">
		<div *ngFor="let person of people; let i = index" class="item" [routerLink]="['/person', person.id]">
			<div class="starship-name">{{person.name}}</div>
		</div>
	</div>
</div>

