@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap');
@import './assets/theme/variable';

* {
	font-family: 'Lato', sans-serif;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body,
html {
	height: 100%;
	overflow: hidden;
	background-color: #343838;
	color: #aebfc6;
}

.sup{
	@include sup;
}

a:link    {color:$color-linc; background-color:transparent; text-decoration:none}
a:visited {color:$color-linc; background-color:transparent; text-decoration:none}
a:hover   {color:$color-linc-hover; background-color:transparent; text-decoration:none}
a:active  {color:$color-linc-active; background-color:transparent; text-decoration:none}
a.activebutton  {color:$color-linc-activebutton; background-color:transparent; text-decoration:none}

//SCROLLBAR
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}
::-webkit-scrollbar-thumb {
	background: #cacbce;
	border: 0px none $color-gray-dark;
	border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
	background: $color-gray;
}
::-webkit-scrollbar-thumb:active {
	background: $color-gray;
}
::-webkit-scrollbar-track {
	background: $color-gray-light;
	border: 0px solid $color-gray-dark;
	border-radius: 2px;
	background-color: rgba(235, 235, 237, 0.3);
}
::-webkit-scrollbar-track:hover {
	background: $color-gray-light;
}
::-webkit-scrollbar-track:active {
	background: $color-gray-light;
}
::-webkit-scrollbar-corner {
	background: transparent;
}
